<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="/details">
                <div class="well well-sm no-padding-xs" style="background: #a0c8e6 !important">
                    <div class="mar-top-large-xs">
                        <h3>
                            Outbound             
                        </h3>
                    </div>
                    <div>
                        <?php
                        $flightIndex = 0;
                        foreach ($departures as $dep) {
                            ?>
                            <label class="radio" for="flight-outbound-<?= $flightIndex ?>">
                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-sm-1 col-xs-2 ">
                                            <input type="radio" required id="flight-outbound-<?= $flightIndex ?>" name="flight-outbound" value="<?= $flightIndex ?>">
                                        </div>
                                        <div class="col-sm-11 col-xs-10 no-padding-left">
                                            <div class="row">
                                                <div class="col-lg-7 col-xs-6 no-padding">
                                                    <div class="time-wrapper row text-center">
                                                        <div class="date col-sm-4 col-lg-4 no-padding pad-left-base-md white-space-nowrap"><?= $dep->date ?></div>
                                                        <div class="flight date col-sm-8 col-lg-4  no-padding">
                                                            <span>
                                                                <?= $dep->origin ?>
                                                            </span>
                                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                                            <span>
                                                                <?= $dep->destination ?>
                                                            </span>
                                                        </div>
                                                        <div class="time date col-sm-8 col-lg-4 col-sm-offset-4 col-lg-offset-0  no-padding">
                                                            <?= $dep->depTime ?> <span class="glyphicon glyphicon-arrow-right"></span> <?= $dep->arrTime ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-xs-6 no-padding-left">
                                                    <div class="price-wrapper">
                                                        <div class="col-sm-5 price  text-right">
                                                            € <?= $dep->price ?>
                                                        </div>
                                                        <div class="col-sm-7 no-padding-left">
                                                            <div class="count-wrapper">
                                                                <div class="count-free flight-label pull-right text-right" data-total-free-price="6" data-total-free="9" data-total-pax="1" data-alternative="" data-price="€ 79,99">
                                                                    <?php
                                                                    foreach ($dep->observations as $obs) {
                                                                        echo $obs . '<br>';
                                                                    }
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-wrapper">
                                    </div>
                                    <div class="row-form-data">
                                    </div>
                                </div>
                            </label>
                            <?php
                            $flightIndex++;
                        }
                        ?>
                    </div>
                    <!--                    <div class="well well-sm">
                                            <a href="/en" data-direction="outbound" data-period="earlier" data-flight-type="roundtrip" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Earlier</a>
                                            <a href="/en" data-direction="outbound" data-period="later" data-flight-type="roundtrip" class="btn btn-secondary pull-right">Later <span class="glyphicon glyphicon-arrow-right"></span></a>
                                        </div>-->
                </div>

                <?php
                if (!empty($returns)) {
                    ?>
                    <div class="well well-sm no-padding-xs"  style="background: #a0c8e6 !important">
                        <div class="mar-top-large-xs">
                            <h3>
                                Return             
                            </h3>
                        </div>
                        <div >
                            <?php
                            $flightIndex = 0;
                            foreach ($returns as $ret) {
                                ?>
                                <label class="radio" for="flight-return-<?= $flightIndex ?>">
                                    <div class="clearfix">
                                        <div class="row">
                                            <div class="col-sm-1 col-xs-2 ">
                                                <input type="radio" required id="flight-return-<?= $flightIndex ?>" name="flight-return" value="<?= $flightIndex ?>">
                                            </div>
                                            <div class="col-sm-11 col-xs-10 no-padding-left">
                                                <div class="row">
                                                    <div class="col-lg-7 col-xs-6 no-padding">
                                                        <div class="time-wrapper row text-center">
                                                            <div class="date col-sm-4 col-lg-4 no-padding pad-left-base-md white-space-nowrap"><?= $ret->date ?></div>
                                                            <div class="flight date col-sm-8 col-lg-4  no-padding">
                                                                <span>
                                                                    <?= $ret->origin ?>
                                                                </span>
                                                                <span class="glyphicon glyphicon-arrow-right"></span>
                                                                <span>
                                                                    <?= $ret->destination ?>
                                                                </span>
                                                            </div>
                                                            <div class="time date col-sm-8 col-lg-4 col-sm-offset-4 col-lg-offset-0  no-padding">
                                                                <?= $ret->depTime ?> <span class="glyphicon glyphicon-arrow-right"></span> <?= $ret->arrTime ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-xs-6 no-padding-left">
                                                        <div class="price-wrapper">
                                                            <div class="col-sm-5 price  text-right">
                                                                € <?= $ret->price ?>
                                                            </div>
                                                            <div class="col-sm-7 no-padding-left">
                                                                <div class="count-wrapper">
                                                                    <div class="count-free flight-label pull-right text-right" data-total-free-price="6" data-total-free="9" data-total-pax="1" data-alternative="" data-price="€ 79,99">
                                                                        <?php
                                                                        foreach ($ret->observations as $obs) {
                                                                            echo $obs . '<br>';
                                                                        }
                                                                        ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-wrapper">
                                        </div>
                                        <div class="row-form-data">
                                        </div>
                                    </div>
                                </label>
                                <?php
                                $flightIndex++;
                            }
                            ?>
                        </div>
                        <!--                    <div class="well well-sm">
                                                <a href="/en" data-direction="return" data-period="earlier" data-flight-type="roundtrip" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left"></span> Earlier</a>
                                                <a href="/en" data-direction="return" data-period="later" data-flight-type="roundtrip" class="btn btn-secondary pull-right">Later <span class="glyphicon glyphicon-arrow-right"></span></a>
                                            </div>-->
                    </div>
                    <?php
                }
                ?> 
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well well-sm"  style="background: #a0c8e6 !important">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="/" class="btn btn-secondary btn-block" style="color: #fff">New search</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn btn-primary btn-block btn form-submit" id="edit-continue" name="op" value="Continue" type="submit">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </form>            
        </div>

    </div>           
</div>
